fastapi
email-validator
uvicorn[standard]
gunicorn
python-multipart
python-jose[cryptography]
PyJWT
passlib[bcrypt]
sqlalchemy
psycopg2-binary
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
stable-baselines3
gymnasium
numpy
pandas
scipy
scikit-learn
yfinance
requests
python-dotenv